{% extends 'news/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<div class="container">
    <a href="{% url 'hood' %}" class="btn btn-sm btn-info mb-2"> New Hood</a>
<div class="row">
    {% for hood in hoods %}
    <div class="col-md-4">
        <div class="card mb-4" style="min-height:340px">
            <img src="{{ hood.hood_logo.url }}" class="card-img-top" alt="{{ hood.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ hood.name }}  ({{hood.location}}) <span class="ml-4">{{hood.occupants.count}} member{{hood.occupants.count|pluralize}}</span></h5>
                <p class="card-text">{{hood.description}}</p>
                {% if request.user.profile.neighbourhood == hood %}
                <a href="{% url 'leavehood' hood.id %}" class="btn btn-outline-danger btn-sm">Leave Hood</a>
                {% elif not request.user.profile.neighbourhood %}
                <a href="{% url 'joinhood' hood.id %}" class="btn btn-primary btn-sm">Join Hood</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}