{% extends 'news/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        {% for hood in hoods %}
        <div class="col-md-4">
            <div class="card mb-4" style="min-height:300px">
                <div class="card-body">
                    <h3 class="card-title">{{ hood.name }}  ({{hood.location}})</h3>
                    <p class="card-text">{{hood.description}}</p>
                    {% if request.user.profile.neighborhood == hood %}
                    <a href="{% url 'leavehood' hood.id %}" >Leave Hood</a>
                    {% elif not request.user.profile.neighbourhood %}
                    <p><a href="{% url 'joinhood' hood.id %}">Join Hood</a>
                        <span style="margin-left: 50%;"><a href="{% url 'singlehood' hood.id %}">visit {{hood.name}} </a></span>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}