{% extends 'news/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title tt">{{ hood.name }} ({{hood.location}})
                    </h5>
                    <h6 class="card-text">
                        <span><strong>{{hood.occupants.count}}</strong> Occupants{{hood.occupants.count|pluralize}}</span>
                        | <strong>{{ hood.business.count }}</strong> Businesses | <strong>
                        {{ hood.hood_post.count }}</strong> Post{{ hood.hood_post.count|pluralize }}
                    </h6>
                    <p class="card-text">{{hood.description}}</p>
                    <p class="card-text"><span class="text-info">Police Contacts</span>
                        &nbsp;<strong>{{hood.police_toll}}</strong> |
                        <span class="text-info">Healthcare Contact</span> <strong>{{hood.healthcare_toll}}</strong></p>
                    <p class="card-text">Administrator: <small class="text-muted">
                        {{ hood.admin.user.username }}</small></p>
                </div>                    
            </div>
        </div>
    </div>
</div>

{% endblock %}